.vscode
.venv
flask_api/backend/.env
flask_api/.vscode
venv

# Aws
# Aws S3 Buckets
aws/s3_buckets/__pycache__/
aws/s3_buckets/*.pyc
aws/s3_buckets/*.pyo
aws/s3_buckets/*.pyd
aws/s3_buckets/env/
aws/s3_buckets/.env
aws/s3_buckets/.env
aws/credentials

# parameter store aws
aws/parameter_store/.env
aws/parameter_store/__pycache__/
aws/parameter_store/*.pyc
aws/parameter_store/*.pyo
aws/parameter_store/*.pyd       
aws/parameter_store/env/


aws/ec2_ecs/task1
aws/ec2_ecs/task2
aws/ec2_ecs/task3